<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>Мой сайт на Astro</title>
    </head>
    <body>
        <h1>Astro</h1>
        <h1>Мой сайт на Astro</h1>
    </body>
</html>
